@import '../../styles/constants';
.input-field{
   display: flex;
   flex-direction: column;
   gap:8px;
   padding-bottom: 8px;
   font-size: $font_size_xs;
   width:100%;
}

.input-field input{
    padding: 9px 16px;
    border-radius: 8px;
    color:$pure_white;
}

.input-bg{
    background-color: $mild_blue;
}