@import '../../styles/constants';
.button{
    border-radius: 8px;
    padding:8px 56px;
    font-weight: 500;
    
}


.signIn-button {
  background-color: $brick_red;
  color:$pure_white;
}
.signUp-button {
background-color:$silver;
  color: $navy_blue;
}

.register-button{
  color: $pure-white;
  background-color: $brick_red;
}
