@import "../../styles/constants";

.button {
  border-radius: 8px;
  font-weight: 500;
  padding: 8px 56px;
  background-color: $brick_red;
}

.primary {
  background-color: $brick_red;
  color: $pure-white;
}

.secondary {
  background-color: $silver;
  color: $navy_blue;
}
