$brick_red: #bb261a;
$bright_red: #eb3223;
$pure_white: #fff;
$pure_black: #000;
$navy_blue: #181728;
$dark_blue: #1d253a;
$blue_grey: #5a6a90;
$deep_blue: #10141e;
$mild_blue: #171e31;
$peach_white: #f0e6e6;
$teal: #0f766e;
$deep_marron: #370c0f;
$aqua_blue: #0e7490;
$dark_brown: #130908;
$grey_black: rgba(52, 14, 16, 0.2);
$aqua_green: #62d5ba;
$orange: orange;
$dark_grey: #333333;
$black: #1e1e1e;
$silver: #afb2b9;
$dust-white: rgba(255, 255, 255, 0.4);
$background_gradient: linear-gradient(
  125deg,
  #130908 -2.55%,
  rgba(19, 9, 8, 0) -2.55%,
  #370c0f 100%
);
$background_gradient_mobile: linear-gradient(
  349.19deg,
  #211515 0.72%,
  rgba(52, 14, 16, 0.2) 125.44%
);

$font_size_xxs: 0.625rem; /*10*/
$font_size_s: 0.6875rem; //11
$font_size_xms: 0.75rem; //12
$font_size_xs: 0.875rem; //14
$font_size_sm: 1rem; //16
$font_size_normal: 1.25rem; //20
$font_size_md: 1.5rem; //24
$font_size_bg: 1.702rem; //27.23
$font_size_lg: 2rem; //32
$font_size_xl: 2.25rem; //36
$font_size_xxl: 2.5rem; //40
$font_size_xxxl: 3rem; //48
